<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <a href="/" class="logo"><img src="/images/namegeshwaram-logo.svg" alt="Nageshwaram Foundation Trust Logo" class="logo-img"></a>
            <div class="menu-toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="nav-list">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Trust</a></li>
                <li><a href="/founder-and-trustees">Trustees</a></li>
                <li><a href="/institutions">Institutions</a></li>
                <li><a href="/careers">Careers</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/school" class="cta-button secondary" style="padding: 8px 20px; font-size: 0.8rem; margin-left: 10px;">Visit School</a></li>
            </ul>
        </nav>
    </header>
