<div class="sticky-cta-mobile">
    <a href="tel:+919111111111" class="cta-call">
        <i class="fa fa-phone"></i>
        <span>Call Now</span>
    </a>
    <a href="/school/admissions" class="cta-enquire">
        <i class="fa fa-user-plus"></i>
        <span>Enquire Now</span>
    </a>
</div>