@media only screen and (max-width: 7000px) {
  .page-wrapper {
    overflow: hidden;
  }
}

@media only screen and (min-width: 1400px) {
  .left-column .right-img-content h6 {
    font-size: 20px;
  }

  .left-column .right-img-content h1 {
    font-size: 46px;
  }

  .rs-toolbar {
    background-position: top 0 left 0;
  }
}

@media only screen and (max-width: 1399px) {
  .header-top .social-icon li a.erp-login,
  ul.btns-link li a {
    font-size: 14px;
    line-height: 17px;
  }
  /* 
    ul.btns-link li a img {
        max-width: 20px
    } */

  .main-menu .navigation {
    margin: 0;
  }

  .rs-toolbar:after {
    width: 65%;
  }
}

@media only screen and (max-width: 1299px) {
  .main-header .header-upper .navbar-right {
    display: none;
  }

  .left-img-column img {
    max-width: 270px;
  }
}
@media (max-width: 390px) {
  .left-img-column img {
    width: 190px;
  }
}
@media only screen and (max-width: 1199px) {
  .banner-section .banner-slider-nav,
  .header-top .right-column.pt-2,
  .header-top .social-icon {
    display: none;
  }

  .nav-outer .mobile-nav-toggler {
    margin: 2px 0;
  }

  .header-top .left-column {
    flex-wrap: nowrap;
    justify-content: center;
  }

  .banner-section .content-box h1 {
    font-size: 60px;
    line-height: 70px;
  }

  .left-column .right-img-content h6 {
    font-size: 14px;
  }

  .left-column .right-img-content h1 {
    font-size: 32px;
  }

  .header-upper {
    display: flex;
    width: fit-content;
  }

  .what-con {
    padding-left: 108px;
    padding-top: 40px;
    padding-right: 25px;
  }

  .scfac-card .item:after {
    width: 55%;
    clip-path: circle(77.1% at 85% 50%);
  }
}

@media only screen and (max-width: 1139px) {
  .main-header .nav-outer .main-menu,
  .sticky-header {
    display: none !important;
  }

  .rs-toolbar {
    display: block;
  }

  .nav-outer .mobile-nav-toggler {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.2rem;
    background: #f48120 !important;
  }

  .main-header.header-style-two .header-upper .inner-container:before {
    display: none;
  }

  .main-header.header-style-two .header-upper .inner-container {
    padding: 0;
  }

  .header-upper {
    height: 30px;
  }
}

@media only screen and (min-width: 1200px) {
  section .owl-carousel .owl-nav button.owl-next {
    right: -55px;
  }

  section .owl-carousel .owl-nav button.owl-prev {
    left: -55px;
  }

  .banner-section .swiper-slide img {
    width: 100%;
    object-fit: cover;
  }

  .foo-col-2 {
    -ms-flex: 0 0 19.666667%;
    flex: 0 0 18.666667%;
    max-width: 18.666667%;
  }

  .foo-col-5 {
    -ms-flex: 0 0 34.666667%;
    flex: 0 0 34.666667%;
    max-width: 34.666667%;
  }

  .foo-col-3 {
    -ms-flex: 0 0 27.666667%;
    flex: 0 0 27.666667%;
    max-width: 27.666667%;
  }

  .message-sec {
    margin-bottom: -92px;
    padding-bottom: 100px !important;
  }

  .fac-slide-col {
    -ms-flex: 0 0 44.666667%;
    flex: 0 0 44.666667%;
    max-width: 44.666667%;
  }

  .fac-con-col {
    -ms-flex: 0 0 54.333333%;
    flex: 0 0 54.333333%;
    max-width: 54.333333%;
  }

  .what-con {
    padding-left: 108px;
    padding-top: 40px;
    padding-right: 25px;
  }
}

@media only screen and (min-width: 992px) {
  /* div.container {
        max-width: 1190px
    } */

  .main-menu .navigation li.dropdown > a:after {
    font-family: FontAwesome;
    content: "\f107";
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    /* color: #001844 !important; */
  }
}

@media only screen and (max-width: 1200px) {
  .rs-toolbar {
    background: #001844 !important;
  }

  .header-top .left-column .left-img-column {
    transform: none;
  }
}

@media only screen and (max-width: 991px) {
  .rs-toolbar:after {
    width: 100%;
    max-width: 733px;
  }

  .box-height {
    height: 325px;
  }

  .notice-title .notice-title-content h2 {
    font-size: 12px;
  }

  .notice-wrp .notice-title {
    margin-right: 10px;
  }

  .slider-overlay .slider-con-text {
    font-size: 22px;
  }

  .what-con {
    padding-top: 45px;
  }

  .what-slider .owl-carousel .owl-nav {
    position: relative;
    left: 0;
    transform: translate(0, -50%);
    bottom: 50%;
  }

  .what-slider .owl-carousel .owl-nav button.owl-next {
    position: absolute;
    right: 0;
  }

  .what-slider .owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    left: 0;
  }

  .what-do:before {
    top: 0;
    left: 0;
    bottom: unset;
  }

  .news-con h3 {
    font-size: 12px;
  }

  .scfac-card .item:after {
    clip-path: circle(79.1% at 82% 50%);
  }
}

@media only screen and (min-width: 768px) {
  .main-menu .navigation > li > ul,
  .main-menu .navigation > li > ul > li > ul {
    display: block !important;
    visibility: hidden;
    opacity: 0;
  }

  .campus-img_block img {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .news-box-img {
    width: 100%;
    height: auto;
  }

  .news-box-title {
    position: unset;
    background: #001844;
    padding: 7px 10px;
  }

  .notice-wrp .notice-title {
    padding-right: 4px;
    margin-right: 8px;
  }

  .banner-wrp .content-box {
    padding: 20px 0;
    min-height: auto;
  }

  .banner-wrp .content-box h1 {
    font-size: 28px;
  }

  .notice-content li {
    font-size: 14px;
  }

  .notice-content li .notice-date {
    font-size: 13px;
    width: 31px;
    height: 31px;
  }

  .header-top ul.contact-info {
    justify-content: center;
    text-align: center;
  }

  .header-top {
    padding: 5px 0;
  }

  .header-top ul.contact-info li {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .header-top .social-icon {
    justify-content: start;
    text-align: left;
  }

  .footer-bottom .wrapper-box {
    justify-content: center;
  }

  .footer-bottom .copyright {
    width: 100%;
    text-align: center;
  }

  .banner-section.style-two .content-box .text {
    padding-left: 0;
  }

  .main-footer:after {
    top: unset;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 43%;
  }

  .news-updates-box {
    max-width: 100%;
  }

  .fac-content {
    background: #001844;
    padding: 20px 20px;
    box-shadow: 0 3px 12px #00000024;
    margin-bottom: 10px;
  }

  .scfac-card .item:after {
    display: none;
  }

  .school-fac .owl-dots {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .world-img {
    position: relative;
    height: auto;
  }

  .msg-img-card {
    transform: translateX(0);
    margin-bottom: 10px;
  }

  .msg-img {
    height: auto;
  }

  .what-do {
    background: #f2f3f5;
  }

  .what-do:before {
    display: none;
  }

  .slite-sec {
    background: #001844;
    box-shadow: 0 3px 11px #00000029;
    padding: 12px 60px;
    clip-path: unset;
    width: max-content;
    transform: unset;
    margin-bottom: 20px;
    position: unset;
  }

  .what-con {
    padding-top: 0;
    padding-left: 15px;
  }

  .what-do .coach-img {
    position: relative;
    height: 415px;
  }

  .water-markimg {
    top: 10px;
    left: unset;
    right: 20px;
  }

  .fac-img {
    padding-top: 45px;
    padding-bottom: 15px;
  }
  .acco-title {
    font-size: 15px;
  }
  .side-img {
    display: none;
  }
  .fsElementTitle {
    padding: 0 0 0px 0;
  }
  .first-word {
    font-size: 20px;
  }
}

@media only screen and (max-width: 575px) {
  .news-box-title h5 {
    font-size: 11px;
  }

  .page-title h1,
  .sec-title h2 {
    font-size: 22px;
    line-height: 28px;
  }

  .about-details h2,
  .sec-title .stitle {
    font-size: 28px;
  }

  .page-inner-heading {
    font-size: 24px;
  }

  .fsBreadcrumb {
    display: none;
  }

  .banner-section .content-box .inner {
    padding: 0;
  }

  .banner-section .content-box {
    min-height: 25vh;
  }

  .slider-overlay .slider-con-text {
    font-size: 14px;
  }

  .notice-title-content {
    width: 95px;
  }

  .notice-title .notice-title-content h2 {
    font-size: 10px;
    transform: translateY(1px);
  }

  .main-footer .widgets-section {
    position: relative;
    padding-top: 35px;
  }

  .owl-dots {
    left: 45% !important;
  }

  .header-top .left-column .left-img-column {
    max-width: 300px;
  }

  .header-upper {
    height: 35px !important;
  }

  .inner-page-card {
    padding: 0;
  }

  /* .widget .widget-title {
        font-size: 12px
    } */

  .main-title {
    font-size: 20px;
    line-height: 26px;
  }

  .sub-title {
    font-size: 18px;
  }

  .campus-img_block .campus-title-block h5 {
    font-size: 11px;
  }

  .copy-text {
    font-size: 13px;
  }
  .accolades-card {
    padding: 15px;
  }
  .first-word {
    font-size: 18px;
  }
}

@media only screen and (max-width: 480px) {
  .notice-wrp-bottom .notice-title .notice-title-view img {
    width: 220px;
  }

  .header-top .social-icon li {
    margin-left: 0;
    margin-right: 2px;
  }

  .left-column .left-img-column {
    padding-right: 15px;
    margin-right: 15px;
  }

  .header-top .social-icon.xs-btns-link li a {
    font-size: 11px !important;
    padding: 0 1px;
    line-height: 3;
  }

  .what-do .coach-img {
    position: relative;
    height: 330px;
  }
}

@media only screen and (max-width: 375px) {
  .header-top .left-column .left-img-column {
    max-width: 285px;
  }
}

@media only screen and (max-width: 350px) {
  .banner-section .content-box h1,
  .banner-section.style-two .content-box h1 {
    font-size: 30px;
    line-height: 38px;
  }

  .water-markimg {
    display: none;
  }

  .main-header .rs-toolbar-start a {
    color: #fff;
    font-size: 10px;
  }
}

@media only screen and (max-width: 300px) {
  .header-top .left-column .left-img-column {
    max-width: 220px;
  }
}

.colo-gold {
  color: #ffc107 !important;
}
